* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image {
    font-size: xx-large;
    display: grid;
    padding: 2rem;
    background: none;
    margin-left: 40%;
}

p {
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
    margin-left: 25%;
}

.container {
    width: 80%;
    height: 350px;
    margin-left: 10%;
    text-align: center;
    background-color: rgb(179, 176, 176);
}

#player-selection {
    color: blue;
    width: 50%;
}

#computer-selection {
    color: red;
    
}

#result {
    color: green;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

input {
    padding: 10px;
    margin: 25px 0 25px 0;
}

.rock {
    transition: 100ms;
}

.rock:hover {
    transform: scale(1.2);
}

.scissors {
    transition: 100ms;
}

.scissors:hover {
    transform: scale(1.2);
}

.paper {
    transition: 100ms;
}

.paper:hover {
    transform: scale(1.2);
}

.scoreboard {
    font-size: xx-large;
}


