/* generic styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(56, 135, 238);
}

/* homepage styling */

h1, h3{
    text-align: center;
    margin-top: 15px;
    padding-top: 10px;
}
.rules {
    font-size: 1.5rem;
}

img {
    width: 100px;
}

.rule {
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    margin: 0 20px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.startplay {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 20px;
    background: linear-gradient(to bottom, brown 5%, rgb(223, 120, 120) 100%);   
}

a {
    text-decoration: none;
    padding: 15px;
    color: white;
}

/* indexpage styling */

.rtnhpage {
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 20px;
    background: linear-gradient(to bottom, brown 5%, rgb(223, 120, 120) 100%);   
}

.container {
    width: 90%;
    height: 11rem;
    margin-left: 5%;
    text-align: center;
    background-color: rgb(194, 189, 189);
}

#player-selection {
    color: blue;
    width: 50%;
    font-size: auto;
}

#computer-selection {
    color: red;
    
}

#result {
    color: green;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.selectionimgs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 25px 0 25px 0;
}

.rock {
    transition: 100ms;
    margin: 5px;
}

.rock:hover {
    transform: scale(1.2);
}

.scissors {
    transition: 100ms;
    margin: 5px;
}

.scissors:hover {
    transform: scale(1.2);
}

.paper {
    transition: 100ms;
    margin: 5px;
}

.paper:hover {
    transform: scale(1.2);
}

#scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerdisplay {
    margin: 20px;
    font-size: 15px;
}

.startagain {
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 20px;
    background: linear-gradient(to bottom, brown 5%, rgb(223, 120, 120) 100%);   
    color: white;
    padding: 5px;
}

.playersText {
    font-size: x-large;
}

