/* generic styling */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Open-Sans;
}

body {
    background: rgb(41, 40, 40);
}

/* homepage styling */

.gamerules {
    text-align: center;
    color: white;
}

h4 {
    width: 95%;
    margin-left: 2.5%;
    padding: 2px;
}

.rulestext1 {
    text-align: center;
    padding: 10px;
    color: white;
}

.rulestext2 {
    text-align: center;
    color: white;
}

span {
    color: gold;
}

.rules {
    font-size: 1.5rem;
}

img {
    width: 80px;
}

.rule {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    margin: 0 20px;
    color: gold;
}

.startbtn a {
    text-decoration: none;
    color: white;
}

a {
    color: red;
}

.startbtn {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    padding: 6px;
    width: 20%;
    margin-left: 40%;
    margin-top: 7%;
    margin-bottom: 5%;
    background: linear-gradient(to bottom, brown 5%, rgb(223, 120, 120) 100%);
}

.startbtn:active {
    transform: scale(0.85);
}

/* game page styling */

.rtnhpage {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 20px;
    background: linear-gradient(to bottom, brown 5%, rgb(223, 120, 120) 100%);
    text-decoration: none;
    color: white;
    padding: 5px;
}

.rtnhpage:active {
    transform: scale(0.85);
}

.container {
    width: 90%;
    height: 10rem;
    margin-left: 5%;
    margin-top: 20px;
    text-align: center;
    border-radius: 10%;
}

.playersText {
    margin: 13px;
    padding-top: 10px;
    color: white;
}

#player-selection {
    color: gold;
    width: 50%;
}

#computer-selection {
    color: red;

}

#result {
    color: green;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.selectionimgs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rock {
    transition: 100ms;
}

.rock:hover {
    transform: scale(1.2);
}

.scissors {
    transition: 100ms;
}

.scissors:hover {
    transform: scale(1.2);
}

.paper {
    transition: 100ms;
}

.paper:hover {
    transform: scale(1.2);
}

#scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.playerdisplay {
    margin: 20px;
    font-size: 15px;
    color: white;
}

.btn {
    text-align: center;
}

.startagain {
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 20px;
    background: linear-gradient(to bottom, brown 5%, rgb(223, 120, 120) 100%);
    color: white;
    padding: 5px;
}

.startagain:active {
    transform: scale(0.90);
}

@media only screen and (min-width: 320px) {

    /* index page */
    .rules {
        margin-top: 15px;
    }

    .startbtn {
        width: 30%;
        margin-left: 35%;
    }

    .rulestext1 {
        padding-top: 15px;
    }

    /* game page */
    .playersText {
        font-size: 18px;
    }

    .playerdisplay {
        font-size: 13px;
    }

    .btn {
        padding-bottom: 45px;
    }

    .rock {
        width: 80px;
        height: 80px;
    }

    .scissors {
        width: 80px;
        height: 80px;
        margin: 25px;
    }

    .paper {
        width: 80px;
        height: 80px;
        margin: 0px;
    }

    /* model pop-ups styling */
    .modal-box {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        top: 165px;
        left: 0;
        right: 0;
    }

    .hide {
        display: none;
    }

    .modal-box.show {
        pointer-events: fill;
        opacity: 1;
    }

    .modal {
        background-color: #c7d4d9;
        border-radius: 5px;
        width: 100%;
        height: 165px;
        text-align: center;

    }

    .modal h1 {
        color: darkblue;
        font-size: 22px;
        padding-top: 25px;
        padding-bottom: 47px;
    }

    button a {
        text-decoration: none;
    }

    .popupbtn1 {
        float: left;
        margin-left: 20px;
    }

    #hpage {
        text-decoration: none;
        color: rgb(66, 66, 240);
        background-color: white;
        box-shadow: 1px 2px 2px;
        border: solid rgb(66, 66, 240);
        font-size: 15px;
        display: flex;
    }

    .hpage {
        text-decoration: none;
        background-color: white;
        border: solid rgb(66, 66, 240);
        color: rgb(66, 66, 240);
        box-shadow: 1px 2px 2px;
        font-size: 15px;
        padding: 5px;
    }

    #staypage {
        text-decoration: none;
        background-color: white;
        border: solid rgb(66, 66, 240);
        color: rgb(66, 66, 240);
        box-shadow: 1px 2px 2px;
        font-size: 15px;
        padding: 0 5px 0 5px;
    }

    #staypage a {
        color: rgb(66, 66, 240);
        font-size: 13px;
    }

    #start-game-no {
        text-decoration: none;
        color: rgb(66, 66, 240);
        background-color: white;
        box-shadow: 1px 2px 2px;
        border: solid rgb(66, 66, 240);
        font-size: 15px;
        margin: 0 3px 0 22px;
        padding: 0 30px;
    }

    #start-game-yes {
        text-decoration: none;
        background-color: white;
        border: solid rgb(66, 66, 240);
        color: rgb(66, 66, 240);
        box-shadow: 1px 2px 2px;
        font-size: 15px;
        margin: 0 -12px 0 0;
        padding: 0 15px;
    }

    #return-home-no {
        text-decoration: none;
        color: rgb(66, 66, 240);
        background-color: white;
        box-shadow: 1px 2px 2px;
        border: solid rgb(66, 66, 240);
        font-size: 15px;
        padding: 2px 25px;
        display: flex;
        float: left;
        margin: 38px;
    }

    .popupbtn2 a {
        text-decoration: none;
        color: rgb(66, 66, 240);
        background-color: white;
        box-shadow: 1px 2px 2px;
        border: solid rgb(66, 66, 240);
        font-size: 15px;
        padding: 2px 25px;
        display: flex;
        float: right;
        margin-right: 50px;
    }

}

@media only screen and (min-width: 360px) {

    /* index page */
    .gamerules {
        margin-top: 12px;
    }

    .rules {
        margin-top: 10px;
    }

    .startbtn {
        margin-top: 5%;
        margin-bottom: 3%;
    }

    /* game page */
    .modal-box {
        top: 165px;
    }

    .popupbtn1 {
        margin-left: 20px;
    }

    /* modal box */
    #hpage {
        margin-left: 18px;
    }

    #start-game-no {
        padding: 0 34px;
        margin-left: 28px;
    }

    #return-home-no {
        margin-left: 40px;
    }
}


@media only screen and (min-width: 375px) {

    /* game page */
    .container {
        margin-top: 50px;
    }

    .modal-box {
        top: 198px;
    }
}

@media only screen and (min-width: 411px) {

    /* modal box */
    .modal {
        padding: 20px 32px;
        width: 95%;
        height: 180px;
    }

    .popupbtn1 {
        margin: 0 37px 0 0;
    }

    #scoreboard {
        padding-top: 52px;
    }
}

@media only screen and (min-width: 414px) {

    /* index Page */
    .gamerules {
        padding-top: 45px;
    }

    /* game page */
    .container {
        margin-top: 50px;
    }

    .playerdisplay {
        font-size: 20px;
    }

    #scoreboard {
        padding-top: 52px;
    }

    /* modal box */
    .modal {
        padding: 20px 32px;
        width: 95%;
        height: 195px;
    }

    .popupbtn1 {
        margin: 0 37px 0 0;
    }
    .popupbtn2 a {
        margin: 0;
    }
}

@media only screen and (min-width: 540px) {

    /* game page - modal box */
    .popupbtn1 {
        float: left;
        margin-left: 20px;
    }

    /* modal box */
    .modal {
        width: 80%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /* home page */
    .rules {
        margin-top: 50px;
    }

    .rulestext2 {
        font-size: 20px;
    }

    .rulestext1 {
        font-size: 20px;
    }

    img {
        width: 125px;
    }

    /* game page */
    .playersText {
        font-size: 25px;
    }

    .selectionimgs {
        margin-top: 50px;
    }

    .scissors {
        margin: 25px 65px;
    }

    /* modal box */
    .modal {
        margin-top: 40px;
        width: 75%;
    }

    .popupbtn1 {
        margin-left: 65px;
    }

    #start-game-yes {
        font-size: 20px;
    }

    #start-game-no {
        font-size: 20px;
    }

    /* new game button */
    .btn {
        margin-top: 20px;
    }
}

@media only screen and (min-width: 1024px) {

    /* home page */
    .rulestext2 {
        font-size: 30px;
    }

    .rules {
        margin: 100px;
    }

    .rulestext1 {
        font-size: 25px;
    }

    img {
        width: 125px;
    }

    .startbtn {
        width: 20%;
        margin-left: 40%;
        margin-bottom: 25px;
    }

    .startbtn a {
        font-size: 33px;
    }

    /* game page */
    .playersText {
        font-size: 30px;
    }

    .selectionimgs {
        padding-top: 60px;
    }

    .rock {
        margin: 50px;
        width: 100px;
        height: 100px;
    }

    .scissors {
        margin: 50px;
        width: 100px;
        height: 100px;
    }

    .paper {
        margin: 50px;
        width: 100px;
        height: 100px;
    }

    .startagain {
        font-size: 25px;
    }

    .rtnhpage {
        font-size: 25px;
    }

    /* modal box */
    .modal-box {
        top: 280px;
    }

    .modal {
        width: 50%;
        height: 235px;
    }

    .modal h1 {
        font-size: 26px;
    }

    .popupbtn1 {
        float: left;
    }

    #hpage {
        font-size: 20px;
        margin-left: 55px;
    }

    #staypage {
        font-size: 20px;
    }

    #start-game-no {
        font-size: 20px;
        margin-right: 135px;
    }

    #start-game-yes {
        font-size: 20px;
    }

    .hpage {
        font-size: 20px;
    }

    #return-home-no {
        font-size: 20px;
        margin: 0;
    }
}

@media only screen and (min-width: 1200px) {

    /* modal box */
    #hpage {
        margin-left: 95px;
    }

    .popupbtn1 {
        margin-left: 40px;
    }
}

@media only screen and (min-width: 1450px) {

    /* modal box */
    .popupbtn1 {
        margin-left: 88px;
    }
}